:root {
  --primary-color: cadetblue;
  --secondary-color: #ff3d00;
  --primary-dark-color: black;
  --secondary-dark-color: #e6e6e6;
  --primary-focus-color: #f7b267;
  --primary-box-shadow: #eaeaea;
  --primary-background-header: hsl(0deg 0% 100% / 80%);
  --primary-background-color: white;
  --primary-active-color: hsl(0deg 0% 16%);
}
