.container {
  label {
    color: var(--primary-color);
    font-weight: 600;
    display: block;
  }

  input {
    font-size: inherit;
    width: 100%;
    display: block;
    margin: 0;
    padding: 1rem 1.2rem;
    border: 0.1rem solid var(--primary-color);
    border-radius: 0.5rem;
    appearance: none;
    line-height: 1rem;

    &:disabled {
      background-color: var(--secondary-dark-color);
      cursor: not-allowed;
    }

    &:focus {
      background-color: var(--primary-focus-color);
    }
  }

  &-error {
    color: var(--secondary-color);
  }
}
