.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 6rem;
  box-shadow:
    inset -1px 0 0 0 var(--primary-box-shadow),
    inset 1px 0 0 0 var(--primary-box-shadow);
  margin: 0 auto;
  width: 50%;
}
