.btn {
  align-items: center;
  border-radius: 0.1rem;
  border: none;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  font-weight: 600;
  justify-content: center;
  gap: 1rem;
  line-height: 1.6 rem;
  padding: 1rem 2rem;
  white-space: nowrap;
}

.primary {
  background-color: var(--primary-color);
  color: var(--primary-background-color);
}

.secondary {
  background-color: var(--secondary-color);
}
