.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .user {
    width: 20rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 1rem;

    p {
      overflow: hidden;
      max-width: 17rem;
      text-overflow: ellipsis;
    }
  }
}
