:root {
  --primary-color: #86b6f6;
  --secondary-color: #ff3d00;
  --primary-dark-color: black;
  --secondary-dark-color: #e6e6e6;
  --primary-box-shadow: #eaeaea;
  --primary-background-header: hsl(0deg 0% 100% / 80%);
  --primary-background-color: white;
  --primary-active-color: #f0dbaf;
}
