:root {
  --primary-color: cadetblue;
  --secondary-color: #ff3d00;
  --primary-dark-color: black;
  --secondary-dark-color: #e6e6e6;
  --primary-box-shadow: #eaeaea;
  --primary-background-header: rgba(238, 227, 213, 0.8);
  --primary-background-color: white;
  --primary-active-color: hsla(0, 0%, 16%);
  --primary-focus-color: #fdecdb;
}
